################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyMicroservice/FileContentIndex/99531eae-7ffb-4933-8cce-13cf6b4b7421.vsidx
